@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use "../../../styles/mixins";

.logotype{
  font-family: globalIndex.$Logo_font_family;
  font-size: mixins.rem(globalIndex.$Logo_font_size);
  font-weight: globalIndex.$Logo_font_weight;
  line-height: globalIndex.$Logo_font_line-height;
  color: globalIndex.$Logo_color;
  text-shadow:1px 1px 0 rgb(128 128 128),2px 2px 1px rgb(0 0 0);
  -webkit-text-shadow:1px 1px 0 rgb(128 128 128),2px 2px 1px rgb(0 0 0 / 26%);
  -moz-text-shadow:1px 1px 0 rgb(128 128 128),2px 2px 1px rgb(0 0 0 / 26%);
  align-items: center;
  justify-content: center;

  @include mixins.adaptiveValue("font-size",globalIndex.$Logo_font_size_adaptive,20,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);
}