@use "sass:math";
@use './src/app/styles/variable/global.scss';
@use './src/app/styles/variable/globalIndex.scss';
@use "./src/app/styles/mixins.scss";
@use './src/app/components/shared/ui/Loader/Loader.scss';
@use './src/app/styles/variable/common.scss';

.check{
  display: flex;
  font-size: mixins.rem(14);
  cursor: pointer;
}

.check {
  width: mixins.rem(25); /* Увеличиваем ширину квадрата */
  height: mixins.rem(25); /* Увеличиваем высоту квадрата */
}

.checkCover{

}

.checkCustom {
  width: mixins.rem(20);; /* Увеличиваем ширину квадрата */
  height: mixins.rem(20);; /* Увеличиваем высоту квадрата */
  //border: 2px solid #555;
  border-radius: mixins.rem(4);;
  position: relative;
}

.checkCustom::after {
  content: '';
  width: mixins.rem(20);
  height: mixins.rem(20);
  background-color: #555;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.check:checked + .check-custom::after {
  display: block;
}

.textInside{
}