@use "sass:math";
@use './src/app/styles/variable/global';
@use './src/app/styles/variable/globalIndex';
@use "./src/app/styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(25);
}


.title {
  font-size: mixins.rem(24);
  line-height: math.div(30,24);
  font-weight: 600;
  color: black;
  position: relative;
  text-align: center;

  @include mixins.adaptiveValue("font-size",24,20,3,650,320);

}

.coverBtn{
  display: flex;
  justify-content: center;
  text-align: center;
  row-gap: mixins.rem(7);
  flex-direction: column;
}

.titleForBtn{
  font-size: mixins.rem(16);
  text-align: left;
}

.emailSvg {
  max-width: mixins.rem(30);
  max-height: mixins.rem(30);
  flex: 0 0 mixins.rem(30);
  fill: white;
  text-align: center;
}

.phoneSvg{
  max-width: mixins.rem(30);
  max-height: mixins.rem(30);
  flex: 0 0 mixins.rem(30);
  fill: white;
  text-align: center;
}

.inputsForm {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(25);
  position: relative;
}

.input {
  flex: 1 1 auto;
  min-width: 100%;
  border: mixins.rem(2) solid #9d9696;
  border-radius: 10px;
  padding-top: mixins.rem(10);
  padding-bottom: mixins.rem(10);
  padding-left: mixins.rem(10);
  padding-right: mixins.rem(60);
  outline: 0 solid transparent;
  transition: border ease 0.3s 0s;
  letter-spacing: mixins.em(1);
  position: relative;
  background-color: transparent;

  &::placeholder {
    color: rgb(124 41 41 / 45%);
    font-weight: 600;
    font-size: mixins.rem(15);
  }

  &:focus {
    border: 2px solid #20a7ad;
    transition: border ease 0.3s 0s;
  }
}

.inputRelative{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(5);
}

.coverPasswordCheck{
  column-gap: mixins.rem(5);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

hidebutton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnCover {
  font-size: mixins.rem(globalIndex.$main_font_size);
  line-height: globalIndex.$main_font_line-height;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: mixins.rem(20);

  @include mixins.adaptiveValue("font-size",18,15,3,550,320);
}

.blockAdditional {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: mixins.rem(5);
}

.profileRegistration {
  text-align: right;
  color: #289ead;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(5);
  font-weight: 700;
  transition: color easy 0.3s 0s;

  @media (any-hover:hover) {
    &:hover {
      color: #36c05c;
      transition: color easy 0.3s 0s;
    }
  }

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}

.forgetPassword {
  text-align: right;
  color: #289ead;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(5);
  font-weight: 700;
  transition: color easy 0.3s 0s;

  @media (any-hover:hover) {
    &:hover {
      color: #36c05c;
      transition: color easy 0.3s 0s;
    }
  }

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}


.noMessage{
  text-align: right;
  color: #e81313;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(5);
  transition: color easy 0.3s 0s;
  font-weight: 700;

  @media (any-hover:hover) {
    &:hover {
      color: #36c05c;
      transition: color easy 0.3s 0s;
    }
  }

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}

.button {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}