@use "sass:math";
@use './src/app/styles/variable/global.scss';
@use './src/app/styles/variable/globalIndex.scss';
@use "./src/app/styles/mixins.scss";
@use './src/app/components/shared/ui/Loader/Loader.scss';
@use './src/app/styles/variable/common.scss';


.searchPage{
  @extend .paddingPages;
}

.cover{
  display: flex;
  flex-direction: column;
}

.section{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  flex: 1 1 auto;
}

.mainTitle{
  @extend .forMainTitle
}

.filters{
  padding-top: mixins.rem(10);
  padding-bottom: mixins.rem(10);
  padding-left: mixins.rem(10);
  padding-right: mixins.rem(10);
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  row-gap: mixins.rem(10);
}

.searchWords{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
  justify-content: flex-start;
}

.coverSearchBlock{
  display: flex;
  flex-wrap: wrap;
  column-gap: mixins.rem(20);
  row-gap: mixins.rem(10);

  @media(max-width: mixins.em(global.$mobile)) {
    flex-direction: column;
  }
}

.subTitle{
  font-size: mixins.rem(23);
  font-weight: 600;
}

.chooseFilter{
  display: flex;
  flex-direction: column;
  column-gap: mixins.rem(15);
  align-items: flex-start;
  justify-content: flex-start;
}

.select{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
  column-gap: mixins.rem(50);

  @media(min-width: mixins.em(global.$mobile)) {
    min-width: mixins.rem(280);
  }
}

.tabs {
  display: flex;
  position: relative;
  row-gap: mixins.rem(10);
  column-gap: mixins.rem(10);
}

.social{
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: mixins.rem(10);
  text-align: left;

  @media(min-width: mixins.em(global.$mobile)) {
    max-width: mixins.rem(280);
    flex: 1 1  mixins.rem(280);
  }
}

.left{
  border-radius: mixins.rem(8) mixins.rem(0) mixins.rem(0) mixins.rem(8);
}

.right {
  border-radius: mixins.rem(0) mixins.rem(8) mixins.rem(8) mixins.rem(0);
}

.post{
  border: 2px solid #000;
}

.inputDiv{
  display: flex;
  flex: 1 1 auto;
}

.link{
  display: flex;
  min-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(5);
  flex: 1 1 auto;
  flex-direction: column;
  row-gap: mixins.rem(10);
  transition: background-color ease 0.3s 0s;

  @media (any-hover: hover) {
     &:hover {
       background-color: rgb(157 126 82 / 68%);
       border-radius: mixins.rem(5);
        transition: background-color ease 0.3s 0s;
     }
   }
}

.imageGroup{
  width: mixins.rem(40);
  border-radius: 50%;
  height: mixins.rem(40);
}

.size{
  font-size: mixins.rem(15);
}

.coverBtn{
  display: flex;
  justify-content: center;
}

.btn {
  @extend .btn;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(10);
  padding-right: mixins.rem(10);
  font-size: mixins.rem(22);
  box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(20) rgb(0 0 0 / 50%);
}