@use "sass:math";
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/variable/globalIndex';
@use "../../../../shared/styles/mixins";
@use "../../../../shared/styles/variable/common";


.coverButtonCategories{
  display: flex;
  justify-content: center;
}

.svgPlus {
  fill: white;
  flex: 0 0 mixins.rem(30);

  @media(min-width: mixins.em(600)) {
    width: mixins.rem(30);
    height: mixins.rem(30);
    }

  @media(max-width: mixins.em(600)) {
    width: mixins.rem(20);
    height: mixins.rem(20);
    }
}

.btn{
  @extend .btn;
  color: white;
  font-size: mixins.rem(16);
  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize,14,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);
  @include mixins.adaptiveValue("padding-left",27,18,3,900,770);
  @include mixins.adaptiveValue("padding-right",27,18,3,900,770);

  @include mixins.adaptiveValue("padding-left",18,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",18,12,3,420,320);

  @media(min-width: mixins.em(551)) {
    padding-left: mixins.rem(27);
    padding-right: mixins.rem(27);
  }

  @media(max-width: mixins.em(550)) {
    padding-left: mixins.rem(17);
    padding-right: mixins.rem(17);
    display: flex;
  }

  @media(max-width: mixins.em(global.$mobile)) {
    min-width: 100%;
  }
}

.btnTwo{
  padding-top: mixins.rem(10);
  padding-bottom: mixins.rem(10);
  padding-left: mixins.rem(25);
  padding-right: mixins.rem(25);
  font-size: mixins.rem(18);

  @media (any-hover: hover) {
    &:hover {
      background-color: #2c6c3a;
    }
  }

  &.btnActive {
    background-color: globalIndex.$Theme_main_header_background_button;
  }
}

.btnTwo {
  background-color: #2c6c3a;
}




.close{
  align-items: center;
  display: flex;
  fill-rule: evenodd;
  fill: rgb(0 0 0 / 67%);
  width: mixins.rem(27);
  height: mixins.rem(27);
  cursor: pointer;
  padding-top: mixins.rem(2);
  padding-bottom: mixins.rem(2);
  padding-left: mixins.rem(2);
  padding-right: mixins.rem(2);
  transition: fill ease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      transition: fill ease 0.3s 0s;
      fill: rgba(255, 255, 255, 0.67);
    }
  }
}
.coverChosen{
  @extend .btnThree;
  padding-bottom: mixins.rem(5);
  padding-top: mixins.rem(5);
  padding-left: mixins.rem(18);
  padding-right: mixins.rem(18);
  z-index: 18;
  @include mixins.adaptiveValue("padding-left",18,12,3,900,770);
  @include mixins.adaptiveValue("padding-right",18,12,3,900,770);

  @include mixins.adaptiveValue("padding-left",16,10,3,420,500);
  @include mixins.adaptiveValue("padding-right",16,10,3,420,320);

  @include mixins.adaptiveValue("font-size",16,12,3,globalIndex.$Header_adaptive_start,320);
}

.chosen{
}
.coverBtns{
  display: flex;
  justify-content: center;
  column-gap: mixins.rem(15);
}

.coverCategories{
  padding-top: mixins.rem(15);
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(5);
  border-radius: mixins.rem(15) mixins.rem(0) mixins.rem(15) mixins.rem(0);
  row-gap: mixins.rem(15);
  display: flex;
  flex-direction: column;
}

.blockCategories{
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  column-gap: mixins.rem(5);
  flex-wrap: wrap;
  row-gap: mixins.rem(5);
  font-size: mixins.rem(16);
  line-height: math.div(22,16);
}


.chosenRed {

  background-color: #d95757;
  border-radius: mixins.rem(50);
  padding-bottom: mixins.rem(7);
  padding-top: mixins.rem(7);

  @media(min-width: mixins.em(551)) {
    padding-left: mixins.rem(22);
    padding-right: mixins.rem(22);
  }

  @media(max-width: mixins.em(550)) {
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(15);
    display: flex;
  }


  font-weight: 400;
  color: #fffbfd;
}