@use "sass:math";
@use './src/app/styles/variable/global';
@use './src/app/styles/variable/globalIndex';
@use "./src/app/styles/mixins";
@use './src/app/styles/variable/common.scss';

.LoginForm {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(20);
  z-index: 23;
}

.form {
  font-family: globalIndex.$Logo_font_family;
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  @include mixins.adaptiveValue("row-gap",15,10,3,global.$mobile,320);
}

.title {
  @extend .popupTitle;
  position: relative;
  text-align: center;
}

.coverPassword{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(20);
}

.input {
  @extend .inputPopupLogin;
}

.inputRelative{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(5);
}

.inputsForm {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  position: relative;
  font-size: mixins.rem(16);
  @include mixins.adaptiveValue("row-gap",15,10,3,global.$mobile,320);
}

.btnCover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: mixins.rem(20);
}

.btnCoverTwo {
  display: flex;
  justify-content: space-between;
  column-gap: mixins.rem(20);
  flex-direction: column;
  row-gap: mixins.rem(10);
}

.blockAdditional {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.btnEnter {
  @extend .btnGradient;
  font-weight: 600;
  padding-left: mixins.rem(27);
  padding-right: mixins.rem(27);
  padding-bottom: mixins.rem(11);
  padding-top: mixins.rem(11);
  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize_AdaptiveStart,14,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}

.button {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.forgetPassword {
}

.noMessage{
  font-weight: 500;
  font-size: mixins.rem(18);
  text-align: right;
  color: #e81313;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(5);
  transition: color easy 0.3s 0s;
  @include mixins.adaptiveValue("font-size",18,16,3,global.$mobile,320);
  @media (any-hover:hover) {
    &:hover {
      color: #36c05c;
      transition: color easy 0.3s 0s;
    }
  }

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}

.profileRegistration,
.forgetPassword {
  @extend .popupSubTitle;

  text-align: right;
  color: #0e0e0e;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(5);
  font-weight: 500;
  transition: color ease 0.3s 0s;
  @media (any-hover:hover) {
    &:hover {
      color: #36c05c;
      transition: color ease 0.3s 0s;
    }
  }

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}


.hideButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.showSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}

.hideSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}

.error {
  color: red;
  font-size: mixins.rem(12);
  line-height: math.div(18,12);
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: mixins.rem(0);
  transform: translateY(100%);
}

.errorLogin {
  position: absolute;
  color: red;
  font-size: mixins.rem(12);
  line-height: math.div(18,12);
  font-weight: 600;
}

.coverBtn{
  display: flex;
  justify-content: center;
  text-align: center;
  row-gap: mixins.rem(7);
  flex-direction: column;
}

.titleForBtn{
  @extend .popupSubTitle;
}

.coverPhoneAndMail{
  display: flex;
  column-gap: mixins.rem(5);
  justify-content: center;
}

.choose{
  @extend .btnLogin;
  flex: 0 1 mixins.rem(150);
}

.emailSvg {
  max-width: mixins.rem(30);
  max-height: mixins.rem(30);
  flex: 0 0  mixins.rem(30);
  fill: #000000;
  text-align: center;
}

.phoneSvg{
  max-width: mixins.rem(30);
  max-height: mixins.rem(30);
  flex: 0 0 mixins.rem(30);
  fill: #000000;
  text-align: center;
}

.dark{
  background-color: black;
  color: #ce681f;
}

.passwordCheck{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(8);
}

.textPassword{
  font-size: mixins.rem(15);
}

.coverPasswordCheck{
  column-gap: mixins.rem(5);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(60px, 1fr));
}

.tabEasy{
  display: flex;
  background-color: #da2e2a;
  width: 100%;
  flex: 0 0 mixins.rem(60);
  min-height: mixins.rem(5);
  border-radius: mixins.rem(6);
  box-shadow: 0 0 mixins.rem(5) rgb(0 0 0 / 66%);
}

.tabNormal{
  background-color: #cad545;
  width: 100%;
  flex: 0 0 mixins.rem(60);
  min-height: mixins.rem(5);
  border-radius: mixins.rem(6);
  box-shadow: 0 0 mixins.rem(5) rgb(0 0 0 / 66%);
}

.tabHard{
  background-color: #56bb6e;
  width: 100%;
  flex: 0 0 mixins.rem(60);
  min-height: mixins.rem(10);
  border-radius: mixins.rem(6);
  box-shadow: 0 0 mixins.rem(5) rgb(0 0 0 / 66%);
}
