@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use "../../../styles/mixins";

.Select {
  background-color: #c5ae5a;
  background-repeat: no-repeat;
  background-position: center right;
  padding-top: mixins.rem(8);
  padding-bottom: mixins.rem(8);
  padding-right: mixins.rem(10);
  padding-left: mixins.rem(10);
  border: 1px solid #ccc;
  border-radius: mixins.rem(4);
  font-size: mixins.rem(16);

  //margin-right: mixins.rem(15);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: mixins.rem(14);
    color: #333;
  }

  @media(min-width: mixins.em(global.$mobile)) {
    max-width: mixins.rem(180);
  }
  @media(max-width: mixins.em(global.$mobile)) {
    min-width: 100%;
  }
}

.customSelectWrapper {
  display: flex;
  position: relative;
}

.customSelectArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: mixins.rem(20);
  border-left: 1px solid #ccc;
}

.arrow {
  font-size: mixins.rem(14);
  color: #333;
  cursor: pointer;
}

.option {
  background-color: #fff;
  color: #333;
  font-size: mixins.rem(16);
  @media(max-width: mixins.em(global.$mobile)) {
    padding-top: mixins.rem(10);
  }

}

.text {
  display: flex;
  flex-direction: column;
}
