@use "sass:math";
@use "./src/app/styles/variable/common";
@use './src/app/styles/variable/global';
@use '/src/app/styles/variable/globalIndex';
@use '/src/app/styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  background-color: globalIndex.$Theme_main_header_background;
  transform: translateY(0%);
  opacity: 1;
  transition: transform ease 0.3s 0s, opacity ease 0.3s 0s;

  @media(min-width: mixins.em(global.$mobile)) {
    padding-top: globalIndex.$Header_paddingTop;
    padding-bottom: globalIndex.$Header_paddingBottom;
  }

  @media(max-width: mixins.em(global.$mobile)) {
    padding-top: mixins.rem(8);
    padding-bottom: mixins.rem(8);
  }

  &.hideHeader {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform ease 0.3s 0s, opacity ease 0.3s 0s;
  }
}

.cover {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 100%;
}

.section{
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  column-gap: mixins.rem(50);

  @include mixins.adaptiveValue("column-gap",50,10,3,globalIndex.$Header_adaptive_start,770);
  @include mixins.adaptiveValue("column-gap",10,3,3,400,320);
}

.leftSection{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coverLogo{
  display: flex;
  min-height: 100%;
}

.rightSection{

  display: flex;
  align-items: center;

  @media(max-width:mixins.em(global.$mobile)) {
    justify-content: flex-end;
    column-gap: mixins.rem(20);
    @include mixins.adaptiveValue("column-gap",20,10,3,globalIndex.$Header_adaptive_start,320);
  }

  @media(max-width: mixins.em(330)) {
    justify-content: space-between;
  }

}

.link,
.linkTwo {
  @extend .btnThree;
  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize_AdaptiveStart,14,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);
}

.link {
  font-family: globalIndex.$GoSearch_fontFamily;
  font-size: globalIndex.$GoSearch_fontSize;
  line-height: globalIndex.$GoSearch_fontLine;
  font-weight: globalIndex.$GoSearch_fontWeight;
  padding-bottom: mixins.rem(11);
  padding-top: mixins.rem(11);
  padding-left: mixins.rem(27);
  padding-right: mixins.rem(27);
  z-index: 30;
  @include mixins.adaptiveValue("padding-left",27,18,3,900,770);
  @include mixins.adaptiveValue("padding-right",27,18,3,900,770);

  @include mixins.adaptiveValue("padding-left",18,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",18,12,3,420,320);


  & .spanFirst{
    @media(max-width: mixins.em(479)) {
      opacity: 0;
      display: none;
      visibility: hidden;
    }
  }

  & .spanSecond{
    @media(min-width: mixins.em(480)) {
      opacity: 0;
      display: none;
      visibility: hidden;
    }
  }
}

.linkTwo{

}

.coverButton{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: mixins.rem(15);
  @include mixins.adaptiveValue("column-gap",15,7,3,globalIndex.$Header_adaptive_start,320);
}

.TextLogin{
  display: flex;
  color: white;

  @media(max-width: mixins.em(global.$mobile)) {
  display: none;
  }
}

.navBarFirst{
  font-family: globalIndex.$NavBar_fontFamily;
  font-size: mixins.rem(globalIndex.$NavBar_fontSize);
  color: globalIndex.$NavBar_Color;
  line-height: globalIndex.$NavBar_fontLine;
  font-weight: globalIndex.$NavBar_fontWeight;
  letter-spacing: mixins.em(globalIndex.$NavBar_fontLetterSpacing);
  padding-top: mixins.rem(42);
  padding-bottom: mixins.rem(42);
  padding-left: mixins.rem(40);
  padding-right: mixins.rem(40);
  transition: color ease 0.3s 0s, background-color ease 2s 0s;
  border-radius: mixins.rem(0);

  @include mixins.adaptiveValue("font-size",globalIndex.$NavBar_fontSize_AdaptiveStart,16,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);
  @include mixins.adaptiveValue("padding-left",40,15,3,1200,850);
  @include mixins.adaptiveValue("padding-right",40,15,3,1200,850);
  @include mixins.adaptiveValue("padding-top",42,30,3,1200,992);
  @include mixins.adaptiveValue("padding-bottom",42,30,3,1200,992);

  @media (any-hover: hover) {
     &:hover {
       background-color: #eed69b;
       opacity: 0.8;
       box-shadow: rgba(59, 59, 57, 0.3) mixins.rem(0) mixins.rem(0) mixins.rem(15);
       transition: color ease 0.3s 0s, background-color ease 0.3s 0s;
       border-radius: mixins.rem(5);
     }
   }

  @media(max-width: mixins.em(global.$mobile)) {
   display: none;
  }
}





