@use "sass:math";

// переменные для тем
// переменные для темной темы (основная)

//background
$Theme_main_background: rgb(255, 255, 255); // basic background
$Theme_main_header_background: #42424f; // header background
$Theme_main_background_additional: #a9c78d; // дополнительный background

//color
$Theme_main_text_color: rgb(0 0 0); // basic color
$Theme_main_text_color_Hover: rgb(255 255 255); // basic color hover
$Theme_main_title_color: rgb(0 0 0); // title color
$Theme_attention: red;
$Theme_font_size_attention: 18;
$Theme_line_height_attention: math.div(24,18);
$Theme_attention_font_size_adaptive: 18; // размер адаптив
$Theme_attention_font_weight: 600; // жирность

//buttons or Links
$Theme_main_header_background_button: #2ba296;; // button in header
$Theme_main_header_background_Button_hover: #24726a; // button in header hover
$Theme_main_header_color_text: rgb(253 254 255); // кнопка в header hover текст
$Theme_main_header_background_button_category: rgb(62 140 175); // button in header
$Theme_main_header_background_button_Two:#d74b4b;
$Theme_main_header_background_button_hover_Two: #ffffff;

//1
$Link_fontFamily: "OpenSans"; // шрифт
$Link_font_size: 18; // размер
$Link_font_size_adaptive: 18; // размер адаптив
$Link_font_line-height: math.div(24,18); // межстрочный интервал
$Link_font_weight: 500; // жирность
$Link_color: #fff; // шрифт
$Link_font_line-height: math.div(24,18); // межстрочный интервал

//Inputs
$Inputs_fontFamily: "OpenSans"; // шрифт
$Inputs_font_size: 16; // размер
$Inputs_font_size_adaptive: 16; // размер адаптив
$Inputs_font_line-height: math.div(24,18); // межстрочный интервал
$Inputs_font_weight: 500; // жирность
$Inputs_focus: #20a7ad;
$Inputs_placeholder: rgb(124 41 41 / 45%);
$Inputs_placeholder_font_weight: 600;

//1 profileList
$Inputs_profile_padding: 10;
$Inputs_profile_padding_right: 30;

//Основые отступы внутри страниц
$padding_top_pages: 80; // отступ внутри страницы
$padding_top_pages_adaptive: 80; // отступ внутри страницы
$padding_bottom_pages: 60; // отступ внутри страницы
$padding_bottom_pages_adaptive: 60; // отступ внутри страницы

// для основного текста
$main_font_family: "OpenSans"; // шрифт
$main_font_size: 18; // размер
$main_font_size_adaptive: 18; // размер адаптив
$main_font_line-height: math.div(24,18); // межстрочный интервал
$main_font_weight: 500; // жирность

// для заголовков
$Title_font_family: "Montserrat"; // шрифт
$Title_font_size: 28; // размер
$Title_font_size_adaptive: 28;// размер адаптив
$Title_font_line-height: math.div(35,28); // межстрочный интервал
$Title_font_weight: 700; // жирность
$Title_color: rgb(0, 0, 0); // цвет текста

//Для поисковой страницы
$Search_font_family: "Montserrat"; // шрифт
$Search_font_size: 16; // размер
$Search_font_line-height: math.div(22,16); // межстрочный интервал
$Search_font_weight: 500; // жирность

// для подзаголовков
$SubTitle_font_family: "EncodeSans"; // шрифт
$SubTitle_font_size: 28; // размер
$SubTitle_font_size_adaptive: 28;// размер адаптив
$SubTitle_font_line-height: math.div(34,28); // межстрочный интервал
$SubTitle_font_weight: 700; // жирность
$SubTitle_color: rgb(0 0 0); // цвет текста

// Для BurgerMenu
$BurgerMenu_font_family: "OpenSans"; // шрифт
$BurgerMenu_font_size: 18; // размер
$BurgerMenu_font_size_adaptive: 18; // размер адаптив
$BurgerMenu_font_line-height: math.div(24,18); // межстрочный интервал
$BurgerMenu_font_weight: 400; // жирность

// Для блока категории
$Categories_font_family: "Roboto"; // шрифт
$Categories_font_size: 16; // размер
$Categories_font_size_adaptive: 16; // размер адаптив
$Categories_font_line-height: math.div(22,16); // межстрочный интервал
$Categories_font_weight: 400; // жирность

// logotype
$Logo_font_family: "OpenSans"; // шрифт
$Logo_font_size: 22; // размер
$Logo_font_size_adaptive: 20; // размер адаптив
$Logo_font_line-height: math.div(25,20); // межстрочный интервал
$Logo_font_weight: 600; // жирность
$Logo_color: rgb(255, 255, 255);  // цвет текста
$Theme_main_color_logo: rgb(124 167 196); // цвет логотипа

//второй тект
$Second_font_family:"Roboto";

// HEADER
$Header_paddingTop: 2; // отступ внутри контентной части для страниц
$Header_paddingTop_adaptive: 2; // отступ внутри кондентной части для страниц для адаптивного свойства
$Header_paddingBottom: 2; // отступ внутри контентной части для страниц
$Header_paddingBottom__adaptive: 2; // отступ внутри кондентной части для страниц для адаптивного свойства
$Header_adaptive_start: 1000;
$Header_adaptive_end: 767.98;
$Header_point_for_two_floors: 540;
$Header_btn_fontSize:18;
$NavBar_btn_fontSize_AdaptiveStart: 18;
$NavBar_btn_fontLine:math.div(24,18);
$NavBar_btn_fontWeight:400;

// NavBar
$NavBar_fontFamily: "OpenSans"; // шрифт
$NavBar_Color: #fff; // шрифт
//$NavBar_Color: #000000; // шрифт
$NavBar_fontSize: 18; // размер шрифта
$NavBar_fontSize_AdaptiveStart: 18; // размер шрифта
$NavBar_fontLine: math.div(24,18); // line-height
$NavBar_fontWeight: 400; //  font-weight
$NavBar_fontLetterSpacing: 0.5; //  Letter Spacing
$Theme_main_navBar_color_Hover: rgb(176 66 66); // basic color hover
$Theme_main_navBar_background_color_Hover: rgb(64 89 105 / 68%); // basic color hover

// карточка тарифа
$Card_border_color: #000;
$Card_background_color: #e5dada;
$Card_border_color: 25; // размер шрифта заголовка
$Card_background_title_color: #495667;// background заголовка
$Card_background_month_color: #c736bf;;// background заголовка

//searchLine
$searchLine_placeHolder: #c4bbbb;  // строка поиска в header
$searchLine_Focus_Header: #20a7ad;  // строка поиска в header
$searchLine_border_Header: #9d9696;  // цвет бордера

// home
$home_highlight-bg: #79b93e;
$home_highlight-color: #000;
$home_highlight-color_end: #a9c78d;
$home_highlight-color_words: seagreen;
$PageHome_adaptive_start: 991.98;
$PageHome_adaptive_end: 320;

// cards
$Cards_adaptive_start: 1600;
$Cards_adaptive_end: 767.98;