@use "sass:math";
@use '../../styles/variable/global';
@use '../../styles/variable/globalIndex';
@use "../../styles/mixins";
@use '../../styles/variable/common';

.faq {
  @extend .paddingPages;
  flex: 1 1 auto;
}

.cover{
  display: flex;
  flex-direction: column;
}

.section{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  flex: 1 1 auto;
}

.mainTitle {
  @extend .forMainTitle;
  padding-bottom: mixins.rem(70);
  @include mixins.adaptiveValue("padding-bottom",70,30,3,global.$tablet,global.$mobile);
}


.link{
  color: #35c99e;
  font-weight: 600;
}

.coverQuestions{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
}