@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use "../../../styles/mixins";
@use "../../../styles/variable/common";

.card{
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  border: mixins.rem(1) solid globalIndex.$Card_border_color;
  padding-top: mixins.rem(15);
  padding-bottom: mixins.rem(15);
  padding-left: mixins.rem(20);
  padding-right: mixins.rem(20);
  background-color: #f3f4f5;
  border-radius: 10px;
  box-shadow: 0 0 mixins.rem(8) mixins.rem(2) rgba(100, 97, 97, 0.68);
  row-gap: mixins.rem(15);
  min-height: 100%;
  max-width: mixins.rem(350);

  position: relative;
  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }

  @media(min-width: mixins.em(global.$mobile)) {
    min-width: mixins.rem(350);
  }


}

.headCard{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.coverSubtitle {

}

.titleTwo{
  font-size: mixins.rem(18);
  font-weight: 600;
  color: #C21F39;
  @include mixins.adaptiveValue("font-size",20,16,3,global.$mobile,320);
}

.subtitle{
  row-gap: mixins.rem(105);
  font-family: 'Montserrat';
  text-align: center;
  color: #000000;
  font-size: mixins.rem(22);
  font-weight: 600;
  padding-right: mixins.rem(15);
  padding-left: mixins.rem(15);
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  @include mixins.adaptiveValue("font-size",22,20,3,global.$mobile,320);
  //flex-direction: column;
}

.body{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(25);
  flex: 1 1 auto;
}

.coverPrice{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.price{
  font-size: mixins.rem(40);
  letter-spacing: mixins.em(0.5);
  font-weight: 600;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: mixins.rem(3);
  color: #1979b4;
  @include mixins.adaptiveValue("font-size",40,22,3,globalIndex.$Cards_adaptive_start,globalIndex.$Cards_adaptive_end);
}

.priceRed {
  font-size: mixins.rem(16);
  color: white;
  font-weight: 400;
  line-height: math.div(22, 16);
  background-color: globalIndex.$Theme_main_header_background_button_Two;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(3);
  padding-right: mixins.rem(3);
  text-align: center;
  border-radius: mixins.rem(10);
}

.textPrice{

}

.textRubble{

}

.slider{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top: mixins.rem(2) solid rgb(0 0 0 / 35%);
  border-bottom: mixins.rem(2) solid rgb(0 0 0 / 35%);
  padding-top: mixins.rem(10);
  padding-bottom: mixins.rem(20);
  row-gap: mixins.rem(20);
}

.coverPeriod{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
}

.coverPeriodMain{
  text-align: center;
  font-size: mixins.rem(20);
  font-weight: 600;

  @include mixins.adaptiveValue("font-size",20,16,3,globalIndex.$Cards_adaptive_start,globalIndex.$Cards_adaptive_end);
}

.coverSlider{
  display: flex;
}

.month{
  display: flex;
  justify-content: center;
  column-gap: mixins.rem(15);
  font-size: mixins.rem(20);
  flex-direction: column;
}

.period{
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: mixins.rem(3);
  font-weight: 600;
  color: #1979b4;
  font-size: mixins.rem(40);
  @include mixins.adaptiveValue("font-size",40,22,3,globalIndex.$Cards_adaptive_start,globalIndex.$Cards_adaptive_end);
}

.periodText{
  justify-content: center;
  text-align: center;
  font-size: mixins.rem(22);
  @include mixins.adaptiveValue("font-size",22,18,3,globalIndex.$Cards_adaptive_start,globalIndex.$Cards_adaptive_end);
}

.sliderInput{
  border-radius: mixins.rem(8);
  display: flex;
  flex: 0 1 mixins.rem(350);
  width: 100%;
  -webkit-appearance: none;
  height: mixins.rem(6);
  background: rgb(16 16 16 / 78%);
  outline: none;
  padding: 0;
  margin: 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: mixins.rem(25);
    height: mixins.rem(25);
    border-radius: 50%;
    background: globalIndex.$Theme_main_header_background_button;
    border: mixins.rem(5) solid #fdfdfd ;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }

  &::-webkit-slider-thumb:hover {
    background: #f0932b;
  }

  &::-moz-range-thumb {
    width: mixins.rem(20);
    height: mixins.rem(20);
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid; cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }

  &::-moz-range-thumb:hover {
    background: #f9ca24;
  }

  &::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
  }
}

.coverInputCheck{
  display: flex;
  align-items: center;
}

.inputCheck{

}

.check{

  @media(max-width: mixins.em(global.$tablet)) {
    width: mixins.rem(25);
    height: mixins.rem(25);
  }

  @media(min-width: mixins.em(global.$tablet)) {
    width: mixins.rem(20);
    height: mixins.rem(20);
  }

}

.checkCustom {
  width: mixins.rem(16);
  height: mixins.rem(16);
  border-radius: mixins.rem(4);
  position: relative;
}

.checkCustom::after {
  content: '';
  width: mixins.rem(20);
  height: mixins.rem(20);
  background-color: #555;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.check:checked + .check-custom::after {
  display: block;
}

.blockInputs{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(5);
}

.titleInput{
  font-size: mixins.rem(16);
  font-weight: 600;
  @include mixins.adaptiveValue("font-size",16,14,3,globalIndex.$Cards_adaptive_start,globalIndex.$Cards_adaptive_end);
}


.textLi,
.coverInputCheck{
  font-size: mixins.rem(16);
  line-height: globalIndex.$main_font_line-height;
  font-weight: 500;
  @include mixins.adaptiveValue("font-size",16,14,3,globalIndex.$Cards_adaptive_start,globalIndex.$Cards_adaptive_end);
}

.additional{
  display: flex;
  flex-direction: column;
  border-bottom: mixins.rem(2) solid rgb(0 0 0 / 35%);
  padding-top: mixins.rem(10);
  padding-bottom: mixins.rem(20);
  row-gap: mixins.rem(5);
}

.lineCover {
  border-bottom: mixins.rem(2) solid rgb(0 0 0 / 35%);
  padding-bottom: mixins.rem(20);
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(4);
}

.additionalTitle,
.titleChoose{
  font-size: mixins.rem(18);
  font-weight: 600;
  @include mixins.adaptiveValue("font-size",18,16,3,globalIndex.$Cards_adaptive_start,globalIndex.$Cards_adaptive_end);
}

.forSliderCover{
  display: flex;
  min-width: 100%;
  opacity: 0.7;
  -webkit-transition: 2s;
  justify-content: center;
  flex: 1 1 auto;

  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}

.btnCover{
  display: flex;
  justify-content: center;
  column-gap: mixins.rem(5);
}

.btn{
  @extend .btn;
  cursor: pointer;
  padding-left: mixins.rem(15);
  padding-right: mixins.rem(15);
  padding-bottom: mixins.rem(10);
  padding-top: mixins.rem(10);

  &.active {
    background-color: black;
  }

}

.btnSpanMain{
  @extend .btn;
  cursor: pointer;
  padding-left: mixins.rem(15);
  padding-right: mixins.rem(15);
  padding-bottom: mixins.rem(10);
  padding-top: mixins.rem(10);
  position: relative;
  z-index: 2;

  &.copied{
    font-weight: 600;
  }
}

.btnSpan {
  z-index: -1;
  width: 0;
  min-height: 100%;
  background-color: #e05151;
  position: absolute;
  top: 0;
  border-radius: mixins.rem(10);
  opacity: 0;
  animation-name: rise;
  animation-duration: 3s;
  @keyframes rise {
    0% {
      background-color: #ee5d5d;
      width: 0;
      opacity: 0;
    }
    60% {
      background-color: #ee5d5d;
      width: 100%;
      opacity: 0.9;
    }
    90% {
      background-color: #ee5d5d;
      width: 0%;
      opacity: 0;
    }
  }
}

.error {
  @extend .error;
}