@use "sass:math";
@use '../../../../styles/variable/global';
@use '../../../../styles/variable/globalIndex';
@use "../../../../styles/mixins";


.Button {
  &.active {
    background-color: #79b93e;
  }

  &.activeTab {
    background-color: globalIndex.$Theme_main_header_background_hover;
    color: white;
  }

}
