@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use "../../../styles/mixins";
@use "../../../styles/variable/common";

.block {
  @extend .blockMain;
}

.blockInfo{
  @extend .blockInfoMain;
}

.text{
  color: #b46145;
  font-size: mixins.rem(globalIndex.$main_font_size);
  font-weight: 600;
  line-height: globalIndex.$main_font_line-height;
}

.linkCover{
  @extend .linkCoverMain;
}


.input{
  @extend .input;
}

.inputRelative{
  @extend .inputRelativeMain;
}


.btn {
  @extend .btn;
  @extend .widthAndPaddingBtn;
  @media(min-width: mixins.em(global.$mobile)) {
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(15);
    padding-bottom: mixins.rem(5);
    padding-top: mixins.rem(5);
  }

  @include mixins.adaptiveValue("font-size",globalIndex.$NavBar_fontSize_AdaptiveStart,16,3,1250,1050);
}

.coverChangePassword{
  background-color: #ded5d5;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: height ease 0.3s 0.1s, opacity ease 0.3s 0s, visibility ease 0.1s 0s;

  .active & {
    visibility: visible;
    opacity: 1;
    height: 250px;
    transition: height ease 0.3s 0s, opacity ease 0.3s 0.2s, visibility ease 0.3s 0.2s;

  }
}


.coverPasswordBtn{
  display: flex;
  column-gap: mixins.rem(20);
  align-items: center;
}

.inputRelativeCode{
  max-width: mixins.rem(350);
  row-gap: mixins.rem(5);
  flex: 0 1 mixins.rem(350);
  position: relative;
}


.hideButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  @extend .error;
  //color: globalIndex.$Theme_attention;
  //font-size: mixins.rem(globalIndex.$Theme_font_size_attention);
  //line-height: globalIndex.$Theme_line_height_attention;
  //font-weight: globalIndex.$Theme_attention_font_weight;
  //text-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(1) rgb(0 0 0 / 31%);
}


.notVerifySvg{
  width: mixins.rem(20);
  height: mixins.rem(20);
  border-radius: 50%;
}

.verifySvg{
  width: mixins.rem(20);
  height: mixins.rem(20);
  fill: #79b93e;
  border-radius: 50%;
}

.coverPassword{
  position: relative;
  display: flex;
}

.showSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}

.hideSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}
