@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use "../../../styles/mixins";

.social {

}

.title {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.cover{
position: relative;
}

.choose{

}

.body{
  display: flex;
  flex-direction: column;
  position: relative;
}

.indicator{
  background-color: #fffbfd;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 2;
  min-height: mixins.rem(35);
  border-radius: mixins.rem(5);
  align-items: center;
  position: relative;
  font-family: globalIndex.$Title_font_family;
  font-size: globalIndex.$Search_font_size;
  line-height: globalIndex.$Search_font_line-height;
  font-weight: globalIndex.$Search_font_weight;
}

.btn {
  transition: background-color ease 0.3s 0s;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(3);
  padding-right: mixins.rem(3);
  display: flex;
  column-gap: mixins.rem(7);
  justify-content: center;
  align-items: center;
  border-radius: mixins.rem(5);

  &.active{
    font-weight: 700;
    transition: background-color ease 0.3s 0s;

    @media (any-hover: hover) {
      &:hover {
        transition: background-color ease 0.3s 0s;

      }
    }
  }
}

.btnAll {
  transition: background-color ease 0.3s 0s;
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  padding-left: mixins.rem(3);
  padding-right: mixins.rem(3);
  border-radius: mixins.rem(5);

  .all & {
    background-color: #1f8055;
    border-radius: mixins.rem(5);
  }

}

.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: mixins.rem(5);
  width: 100%;
  transform: translateY(mixins.rem(35));
  background-color: #fffbfd;
  opacity: 0;
  visibility: hidden;
  transition:  opacity ease 0.3s 0s, visibility ease 0.3s 0s;
  z-index: 1;

  &.active {
    opacity: 1;
    visibility: visible;
    transition:  opacity ease 0.3s 0s, visibility ease 0.3s 0s;
   }

}

.mark{
  width: mixins.rem(20);
  height: mixins.rem(20);
  fill: #79b93e;
}

.arrow{
  width: mixins.rem(25);
  height: mixins.rem(25);
  position: absolute;

  //top: 18%;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  transform-origin:center;
  transition: transform ease 0.3s 0s;

  &.active  {
    transform: rotate(90deg) translate(-50%,0%);
    transition: transform ease 0.3s 0s;
  }
}

