@use "sass:math";
@use './src/app/styles/variable/global.scss';
@use './src/app/styles/variable/globalIndex.scss';
@use "./src/app/styles/mixins.scss";


.skeletonSearchPage{
  box-shadow: 0 0 mixins.rem(10) rgb(0 0 0 / 45%);

  &:empty {
     position: relative; height: 76px; background-color: #fff;
     border-radius: mixins.rem(5);
     background-image: linear-gradient( #f5f7f9 7px, transparent 0 ),
     linear-gradient( #f5f7f9 7px, transparent 0 ),
     linear-gradient( #f5f7f9 7px, transparent 0 ),
     linear-gradient( #f5f7f9 7px, transparent 0 ),
     linear-gradient( #f5f7f9 7px, transparent 0 ),
     linear-gradient( #F5F7F9 6px, transparent 0 ),
     linear-gradient( #F5F7F9 6px, transparent 0 ),
     linear-gradient( #F5F7F9 6px, transparent 0 ),
     linear-gradient( #F5F7F9 6px, transparent 0 ),
     linear-gradient( #F5F7F9 6px, transparent 0 ),
     radial-gradient( circle 20px at 20px 20px, #F5F7F9 99%, transparent 0 );
     background-repeat: repeat-y;
     background-size: 150px 133px,150px 133px,760px 133px,760px 133px,400px 133px,43% 133px,90% 133px,74% 133px,52px 133px,88px 133px,40px 133px;background-position: left 1200px top 35px,left 30px top 35px,left 390px top 50px,left 390px top 37px,left 560px top 21px,left 12px top 111px,left 12px top 92px,left 0 top 70px,left 259px top 44px,left 259px top 28px,left 212px top 17px;
 }

  &:empty::before {
    content: ' ';
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 76px;
    -webkit-mask-image: linear-gradient( 100deg, rgb(255 255 255 / 0%), rgb(255 255 255 / 50%) 50%, rgb(255 255 255 / 0%) 80% );
    -webkit-mask-repeat : repeat-y;
    -webkit-mask-size : 50px 76px;
    -webkit-mask-position: -20% 0;
    background-image: linear-gradient( rgb(102 102 102 / 100%) 7px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 7px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 7px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 7px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 7px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 6px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 6px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 6px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 6px, transparent 0 ),
    linear-gradient( rgb(102 102 102 / 100%) 6px, transparent 0 ),
    radial-gradient( circle 20px at 20px 20px, rgb(102 102 102 / 100%) 99%, transparent 0 );
    background-repeat: repeat-y;
    background-size: 150px 133px,150px 133px,760px 133px,760px 133px,400px 133px,43% 133px,90% 133px,74% 133px,52px 133px,88px 133px,40px 133px;
    background-position: left 1200px top 35px,left 30px top 35px,left 390px top 50px,left 390px top 37px,left 560px top 21px,left 12px top 111px,left 12px top 92px,left 0 top 70px,left 259px top 44px,left 259px top 28px,left 212px top 17px;
    animation: shineForSkeleton-5uf5qg3zmod 2s infinite;
  }

  @keyframes shineForSkeleton-5uf5qg3zmod {to {-webkit-mask-position: 120% 0}}
}


