@use "sass:math";
@use '../../styles/variable/global';
@use '../../styles/variable/globalIndex';
@use "../../styles/mixins";
@use "../../styles/variable/common";

.ProfilePage {
    @extend .paddingPages;
}

.cover{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(5);
    flex: 1 1 auto;
}

.coverLink{
    display: flex;
    flex-direction: column;
    column-gap: mixins.rem(25);
    //border-bottom: mixins.rem(2) solid rgb(0 0 0 / 65%);
    //padding-bottom: mixins.rem(20);

    @media(max-width: mixins.em(640)) {
        flex-direction: column;
        row-gap: mixins.rem(5);
    }
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(15);
    flex: 1 1 auto;
}

.mainTitle{
    @extend .forMainTitle;
    padding-bottom: mixins.rem(70);
    @include mixins.adaptiveValue("padding-bottom",70,30,3,global.$tablet,global.$mobile);
}

.linkCover{
    display: flex;
    column-gap: mixins.rem(10);
    @media(max-width: mixins.em(640)) {
        flex-direction: column;
        row-gap: mixins.rem(5);
    }
}

.link{
    @extend .btnThree;
}
.linkTwo{
    @extend .btn;
    font-size: mixins.rem(16);
}

.link,
.linkTwo {
    padding-bottom: mixins.rem(11);
    padding-top: mixins.rem(11);
    padding-left: mixins.rem(27);
    padding-right: mixins.rem(27);
    @include mixins.adaptiveValue("padding-left",27,18,3,900,770);
    @include mixins.adaptiveValue("padding-right",27,18,3,900,770);
    @include mixins.adaptiveValue("padding-left",18,12,3,420,320);
    @include mixins.adaptiveValue("padding-right",18,12,3,420,320);
}

.body{

}

.inputCode{
    font-size: mixins.rem(globalIndex.$Inputs_font_size);
    border: mixins.rem(2) solid #9d9696;
    border-radius: 10px;
    padding-top: mixins.rem(globalIndex.$Inputs_profile_padding);
    padding-bottom: mixins.rem(globalIndex.$Inputs_profile_padding);
    padding-left: mixins.rem(globalIndex.$Inputs_profile_padding);
    outline: 0 solid transparent;
    transition: border ease 0.3s 0s;
    letter-spacing: mixins.em(1);
    position: relative;
    background-color: white;

    &::placeholder {
        color: globalIndex.$Inputs_placeholder;
        font-weight: globalIndex.$Inputs_placeholder_font_weight;
        font-size: mixins.rem(15);
    }

    &:focus {
        border: 2px solid globalIndex.$Inputs_focus;
        transition: border ease 0.3s 0s;
    }
}

.showSvg {
    fill: black;
    width: mixins.rem(30);
    height: mixins.rem(30);
}

.hideSvg {
    fill: black;
    width: mixins.rem(30);
    height: mixins.rem(30);
}

.infoUser{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

.numberPhone {
    color: globalIndex.$Theme_attention;
    font-weight: 800;
}

.сategoriesCover{
    padding-top: mixins.rem(15)
}

.subTitle{
    @extend .forMainTitle;
    padding-bottom: mixins.rem(70);
    @include mixins.adaptiveValue("padding-bottom",70,30,3,global.$tablet,global.$mobile);
}

.coverNumBtnBlock{
    flex: 1 1 auto;
    min-width: 100%;
    display: flex;
}

