@use "sass:math";
@use "./src/app/styles/variable/common";
@use './src/app/styles/variable/global';
@use '/src/app/styles/variable/globalIndex';
@use '/src/app/styles/mixins';


.category{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);

  @media(max-width: mixins.em(global.$tablet)) {
    position: relative;
    z-index: 2;
  }
}

.coverCategory{
  display: flex;
  flex-direction: column;

  @media(min-width: mixins.em(global.$tablet)) {
    border-left: mixins.rem(1) solid rgba(0, 0, 0, 0.15);
    border-right: mixins.rem(1) solid rgba(0, 0, 0, 0.15);
    border-radius: mixins.rem(5);
    max-height: mixins.rem(1160);
    overflow: auto;
    background-color: #ffffff;
  }
  @media(max-width: mixins.em(global.$tablet)) {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    overflow: auto;
    flex: 1 1 auto;
    background-color: #fffcfc;
    z-index: 9;
    max-height: 0px;

    .activeBurger & {
      height: 100vh;
      max-height: mixins.rem(400);
    }
  }
}

.titleMainCategory,
.titleMainCategoryBtn {
  font-size: mixins.rem(globalIndex.$main_font_size);
  font-weight: 500;
  text-align: center;
  color: white;
  z-index: 12;
  background-color: #484f55;
  padding-top: mixins.rem(7);
  padding-bottom: mixins.rem(7);
  border-radius: mixins.rem(5) mixins.rem(5) mixins.rem(5) mixins.rem(5);
}
.titleMainCategory {

  @media(max-width: mixins.em(global.$tablet)) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.titleMainCategoryBtn{
  @media(min-width: mixins.em(global.$tablet)) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    justify-content: center;
    column-gap: mixins.rem(10);
  }
}

.burger{
  display: flex;
  flex: 0 0 mixins.rem(28);

  @media(max-width: mixins.em(global.$tablet)) {
    display: block;
    position: relative;
    width: mixins.rem(28);
    height: mixins.rem(18);
    cursor: pointer;
    z-index: 15;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: mixins.rem(2);
      background-color: rgb(255 255 255);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - mixins.rem(1));
    }

    &.activeBurger {
      span {
        width: 0;
      }

      &::before,
      &::after {
        background-color: #ffffff;
      }

      &::before {
        top: calc(50% - mixins.rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - mixins.rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

.coverLink {
  display: flex;
  flex: 1 1 auto;
}

.titleCategory{
  display: flex;
  font-family: mixins.rem(globalIndex.$Title_font_family);
  font-size: mixins.rem(globalIndex.$Categories_font_size);
  line-height: globalIndex.$Categories_font_line-height;
  text-align: left;
  min-width: 100%;
  transition: background-color ease 0.3s 0s;

  @media(min-width: mixins.em(global.$tablet)) {
    padding-bottom: mixins.rem(5);
    padding-top: mixins.rem(5);
    padding-left: mixins.rem(5);
    padding-right: mixins.rem(5);
    border-radius: mixins.rem(5);
  }
  @media(max-width: mixins.em(global.$tablet)) {
    padding-bottom: mixins.rem(5);
    padding-top: mixins.rem(5);
    padding-left: mixins.rem(5);
    padding-right: mixins.rem(5);
  }

  @media (any-hover: hover) {
    &:hover {
      transition: background-color ease 0.3s 0s;
      background-color: #b7b0b0;
    }
  }
}
