@use "sass:math";
@use "./src/app/styles/variable/common";
@use './src/app/styles/variable/global';
@use '/src/app/styles/variable/globalIndex';
@use '/src/app/styles/mixins';


.category{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);

  //@media(max-width: mixins.em(global.$tablet)) {
  //  position: relative;
  //  z-index: 2;
  //}
}
.block{
  display: flex;
  flex-direction: column;
}


.coverCategory{
  display: flex;
  padding-top: mixins.rem(60);
  padding-bottom: mixins.rem(60);
  @include mixins.adaptiveValue("padding-top", 60, 30, 3, globalIndex.$PageHome_adaptive_Title, global.$mobile);
  column-gap: mixins.rem(5);
  row-gap: mixins.rem(10);
  flex-wrap: wrap;
}

.titleMainCategory,
.titleMainCategoryBtn {
  font-family: globalIndex.$main_font_family;
  font-size: mixins.rem(33);
  line-height: math.div(35,33);
  letter-spacing: mixins.em(-0.35);
  @include mixins.adaptiveValue("font-size", 33, 25, 3, globalIndex.$PageHome_adaptive_Title, global.$mobile);
}
.titleMainCategory {

  @media(max-width: mixins.em(global.$tablet)) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.titleMainCategoryBtn{
  @media(min-width: mixins.em(global.$tablet)) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    justify-content: center;
    column-gap: mixins.rem(10);
  }
}

.burger{
  display: flex;
  flex: 0 0 mixins.rem(28);

  @media(max-width: mixins.em(global.$tablet)) {
    display: block;
    position: relative;
    width: mixins.rem(28);
    height: mixins.rem(18);
    cursor: pointer;
    z-index: 15;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: mixins.rem(2);
      background-color: rgb(255 255 255);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - mixins.rem(1));
    }

    &.activeBurger {
      span {
        width: 0;
      }

      &::before,
      &::after {
        background-color: #ffffff;
      }

      &::before {
        top: calc(50% - mixins.rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - mixins.rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

.coverLink {
  display: flex;
  flex: 0 1 auto;
}

.titleCategory{
  @extend .btnThree;

  font-family: globalIndex.$GoSearch_fontFamily;
  font-size: globalIndex.$GoSearch_fontSize;
  line-height: globalIndex.$GoSearch_fontLine;
  font-weight: globalIndex.$GoSearch_fontWeight;
  padding-bottom: mixins.rem(11);
  padding-top: mixins.rem(11);
  padding-left: mixins.rem(27);
  padding-right: mixins.rem(27);

  @include mixins.adaptiveValue("padding-left",27,15,3,900,770);
  @include mixins.adaptiveValue("padding-right",27,15,3,900,770);

  @include mixins.adaptiveValue("padding-left",15,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",15,12,3,420,320);

  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize_AdaptiveStart,14,3,globalIndex.$Header_adaptive_start,500);
}
