@use "sass:math";
@use './styles/variable/global.scss';
@use './styles/variable/globalIndex.scss';
@use "./styles/mixins.scss";
@use './../app/components/shared/ui/Loader/Loader.scss';
@use './styles/variable/common.scss';

.page{
  @extend .paddingPages;
  padding-bottom: mixins.rem(0);
}

.cover{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(20);
}

.coverFeedBack{
  background-color: #f4f6f6;
}

.section{
  display: flex;
  row-gap: mixins.rem(30);
  justify-content: center;
}

.videoWrapper {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  border-radius: mixins.rem(10);
  margin-top: 32px;

  @media(max-width: mixins.em(global.$mobile)) {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(5);
  }
}


.item_video {
  position: relative;
  aspect-ratio: 16/9;
  border-radius:20%;
  box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(50) mixins.rem(50) #bcc5c9;
  background-color: #BCC5C9FF;
  @media(min-width: mixins.em(global.$mobile)) {
    min-width: mixins.rem(620);
    max-height: mixins.rem(350);
  }
  @media(max-width: mixins.em(global.$mobile)) {
    min-width: 100%;
  }
}


.item_video iframe{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: mixins.rem(10);
}

.coverMain{

  @media(min-width: mixins.em(global.$tablet)) {
    column-gap: mixins.rem(10);
    display: grid;
    grid-template-columns: minmax(330px, 350px) minmax(620px, 1fr);
  }

  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(5);
  }

  @include mixins.adaptiveValue("column-gap",10,5,3,globalIndex.$PageHome_adaptive_start,globalIndex.$PageHome_adaptive_end);
}

.mainTitle{
  @extend .forMainTitle;
}

.howWorks{
  color: #000000;
  font-size: mixins.rem(25);
  line-height: math.div(29,25);
  font-weight: 600;
  text-align: center;
}

.coverVideo{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
  justify-content: center;
  @media(max-width: mixins.em(global.$mobile)) {
    min-width: 100%;
  }

}

.text span,
.textFree span{
  background-color: globalIndex.$home_highlight-bg;
  color: globalIndex.$home_highlight-color;
  font-weight: 600;
  border-radius: 70% 30% 92% 8% / 24% 81% 19% 76% ;
  padding-right: mixins.rem(15);
  padding-left: mixins.rem(15);
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
}

.text,
.textFree,
.coverFor,
.description{
 @extend .mainFontSize;
}

.text{
  line-height: globalIndex.$main_font_line-height;
}

.textFree{
  column-gap: mixins.rem(5);
  align-items: center;
  line-height: globalIndex.$main_font_line-height;
}

.coverFor{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #fffbfd;
  row-gap: mixins.rem(5);
}

.coverLastBlock{
  @media(max-width: mixins.em(global.$mobile)) {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.description{
  background-color: #ece4e4;
  min-width: 100%;
  flex: 1 1 auto;
  align-items: center;
  padding-bottom: mixins.rem(5);
  padding-top: mixins.rem(5);
}

.name{
  font-family: mixins.rem(globalIndex.$Categories_font_family);
  font-size: mixins.rem(globalIndex.$Categories_font_size);
  line-height: mixins.rem(globalIndex.$Categories_font_line-height);

  text-align: left;
  row-gap: mixins.rem(5);
  min-width: 100%;
  padding-bottom: mixins.rem(10);
  padding-top: mixins.rem(10);
  transition: background-color ease 0.3s 0s;
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(5);
  border-radius: mixins.rem(5);
  @media (any-hover: hover) {
     &:hover {
        transition: background-color ease 0.3s 0s;
       background-color: #b7b0b0;
     }
   }
}


