@use "sass:math";
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/variable/globalIndex';
@use "../../../../shared/styles/mixins";
@use "../../../../shared/styles/variable/common";

.block {
  @extend .blockMain;
}

.blockInfo{
  @extend .blockInfoMain;
}

.text{
  color: #b46145;
  font-size: mixins.rem(globalIndex.$main_font_size);
  font-weight: 600;
  line-height: globalIndex.$main_font_line-height;
  @include mixins.adaptiveValue("font-size",globalIndex.$main_font_size,16,3,globalIndex.$PageHome_adaptive_start,globalIndex.$PageHome_adaptive_end)
}

.linkCover{
  @extend .linkCoverMain;
}


.input{
  @extend .input;
}

.inputRelative{
  @extend .inputRelativeMain;
}


.btn {
  background-color: transparent;
  @extend .btnThree;
  font-family: globalIndex.$GoSearch_fontFamily;
  font-size: globalIndex.$GoSearch_fontSize;
  line-height: globalIndex.$GoSearch_fontLine;
  font-weight: globalIndex.$GoSearch_fontWeight;
  padding-bottom: mixins.rem(7);
  padding-top: mixins.rem(7);
  padding-left: mixins.rem(18);
  padding-right: mixins.rem(18);
  z-index: 30;
  @include mixins.adaptiveValue("padding-left",18,16,3,900,770);
  @include mixins.adaptiveValue("padding-right",18,16,3,900,770);

  @include mixins.adaptiveValue("padding-left",18,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",18,12,3,420,320);
}

.coverChangePassword{
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: height ease 0.3s 0.1s, opacity ease 0.3s 0s, visibility ease 0.1s 0s;

  .active & {
    visibility: visible;
    opacity: 1;
    height: 250px;
    transition: height ease 0.3s 0s, opacity ease 0.3s 0.2s, visibility ease 0.3s 0.2s;

  }
}


.coverPasswordBtn{
  display: flex;
  column-gap: mixins.rem(20);
  align-items: center;
}

.inputRelativeCode{
  max-width: mixins.rem(350);
  row-gap: mixins.rem(5);
  flex: 0 1 mixins.rem(350);
  position: relative;
}


.hideButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  @extend .error;
}


.notVerifySvg{
  width: mixins.rem(20);
  height: mixins.rem(20);
  border-radius: 50%;
}

.verifySvg{
  width: mixins.rem(20);
  height: mixins.rem(20);
  fill: #79b93e;
  border-radius: 50%;
}

.coverPassword{
  position: relative;
  display: flex;
}

.showSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}

.hideSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}
