@use "sass:math";
@use '../../styles/variable/global';
@use '../../styles/variable/globalIndex';
@use "../../styles/mixins";
@use "../../styles/variable/common";

.pricePage {
  @extend .paddingPages;
}

.cover{
  display: flex;
  flex-direction: column;
}

.section{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  flex: 1 1 auto;
}

.mainTitle{
  @extend .forMainTitle;
}

.categories{
  display: flex;
  flex-direction: column;
  padding-top: mixins.rem(15);
}

.coverGo{
  display: flex;
  @media(min-width: mixins.em(global.$mobile)) {
      column-gap: mixins.rem(10);
    }
  @media(max-width: mixins.em(global.$mobile)) {
      flex-direction: column;
      flex: 1 1 auto;
    }
}

.prices{
  padding-top: mixins.rem(30);
  row-gap: mixins.rem(10);

  @media(min-width: mixins.em(global.$mobile)) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(mixins.rem(200), 1fr));
    column-gap: mixins.rem(15);
   }
  @media(max-width: mixins.em(global.$mobile)) {
      display: flex;
    flex-direction: column;
    row-gap: mixins.rem(10);
    }
}

.notification{
  padding-bottom: mixins.rem(20);
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
}

.notificationText{
  font-weight: 600;
  line-height: globalIndex.$main_font_line-height;
  background-color: #d95757;
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  padding-left: mixins.rem(3);
  padding-right: mixins.rem(3);
  border-radius: mixins.rem(5);
  color: #fffbfd;
  text-align: center;

}

.notificationText {
  @extend .mainFontSize;
}

.coverGo{
  display: flex;
  align-items: center;
  font-weight: 600;
  column-gap: mixins.rem(10);
  row-gap: mixins.rem(5);
}

.btn{
  @extend .btn;
  @extend .widthAndPaddingBtn;
}

