@use "sass:math";
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/variable/globalIndex';
@use '../../../../shared/styles/mixins';
@use "../../../../shared/styles/variable/common";

.inputCategory{
  display: grid;
  grid-template-columns: minmax(40px, 40px) minmax(50px,50px) minmax(200px,270px)  minmax(250px,300px)  minmax(100px,300px)  minmax(100px,300px) minmax(100px,150px) minmax(100px,15px);
  grid-template-rows:auto;
  text-align: center;
  row-gap: mixins.rem(5);
  column-gap: mixins.rem(5);
  border-bottom: mixins.rem(1) solid #000;
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
}

.btn{
  @extend .btn;

  padding-left: mixins.rem(25);
  padding-right: mixins.rem(25);
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);

  @include mixins.adaptiveValue("font-size",globalIndex.$Link_font_size_adaptive,16,3,1250,1050);
}


.inputNoPadding{
  @extend .inputNoPadding;
}