@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use "../../../styles/mixins";
@use "../../../styles/variable/common";

.bodyInfo{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);

}

.textAttent{
  font-size: mixins.rem(16);
  line-height: math.div(22, 16);
  color: #C21F39;
  font-weight: 600;
}

.spanWord{
  background-color: #2ba296;
}

.mainBlock{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondBlock{
  @media(min-width: mixins.em(1200)) {
    display: grid;
    grid-template-columns: minmax(160px,300px) minmax(650px,1fr);
    grid-template-rows:auto;
    column-gap: mixins.rem(15);
  }
  @media(max-width: mixins.em(1200)) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.rows {
  //background-color: #eee;
  font-size: mixins.rem(14);
  line-height: math.div(16,13);
  border-bottom: mixins.rem(2) solid rgb(0 0 0 / 16%);
  padding-top: mixins.rem(7);
  padding-bottom: mixins.rem(7);
  padding-left: mixins.rem(7);
  padding-right: mixins.rem(7);
  box-shadow: 0 0 mixins.rem(11) rgb(0 0 0 / 16%);
  border-radius: mixins.rem(5);
  min-height: mixins.rem(70);
  transition: background-color ease 0.3s 0s;


  @media (any-hover: hover) {
    &:hover {
      //background-color: #ded9d9;
      transition: background-color ease 0.3s 0s;
    }
  }

  @media(min-width: mixins.em(global.$tablet)) {
    display: grid;
    grid-template-columns: minmax(110px,120px) minmax(650px, 1fr)  minmax(100px,200px);
    grid-template-rows:auto;
    column-gap: mixins.rem(15);
  }
  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(5);
  }

}

.blockCategories{
  justify-self: center;
  text-align: center;
  align-self: center;
  font-weight: 400;
}

.blockUser{
  position: relative;
  display: flex;
  justify-self: left;
  text-align: center;
  align-self: center;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: left;
  font-size: mixins.rem(16);
}


.link{
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  min-width: 100%;
  flex: 1 1 auto;
  column-gap: mixins.rem(3);
  transition: background-color ease 0.3s 0s;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(204, 199, 192, 0.68);
      border-radius: mixins.rem(5);
      transition: background-color ease 0.3s 0s;
    }
  }
  @media (min-width: mixins.em(global.$tablet))  and (max-width: mixins.em(1200)) {
    justify-content: flex-start;
    align-items: flex-start;
  }
  @media(max-width: mixins.em(global.$tablet)) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.link:visited {
  color: globalIndex.$Theme_main_header_background_button_Two;
}

.linkText:visited {
  color: globalIndex.$Theme_main_header_background_button_Two;
}

.identificator{
  position: absolute;
  right: 5px;
  top: 2px;
  width: mixins.rem(20);
  height: mixins.rem(20);
  fill: #0074D9;
}

.identificatorTg{
  position: absolute;
  right: 5px;
  top: 2px;
  width: mixins.rem(20);
  height: mixins.rem(20);
  fill: #693cda;
}

.identificatorFl{
  display: flex;
  color: white;
  font-weight: 500;
  position: absolute;
  right: mixins.rem(5);
  top: mixins.rem(2);
  width: mixins.rem(20);
  height: mixins.rem(20);
  background-color: #04cc60;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
}

.identificatorFR{
  display: flex;
  color: white;
  font-weight: 500;
  position: absolute;
  right: mixins.rem(5);
  top: mixins.rem(2);
  width: mixins.rem(20);
  height: mixins.rem(20);
  background-color: #87b948;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
}



.linkCover{
  display: flex;
  column-gap: mixins.rem(5);
  flex-direction: column;
  align-items: center;
}

.imageGroup{
  width: mixins.rem(40);
  height: mixins.rem(40);
  border-radius: 50%;
}


.blockText{
  @extend .forNames;
  font-weight: 400;
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}


.linkText{
  display: flex;
  min-width: 100%;
  align-items: flex-start;
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(5);
  flex: 1 1 auto;
  transition: background-color ease 0.3s 0s;
  flex-direction: column;
  row-gap: mixins.rem(0);
  justify-content: center;
  text-align: left;
  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(204, 199, 192, 0.68);
      border-radius: mixins.rem(5);
      transition: background-color ease 0.3s 0s;
    }
  }

}


.nameBlock{
  display: flex;
  column-gap: mixins.rem(5);
}

.nameGroup{
  text-align: left;
  justify-content: flex-start;
  flex: 1 1 auto;
  font-size: mixins.rem(14);

  @media(min-width: mixins.em(1200)) {

  }
  @media(max-width: mixins.em(1200)) {
      text-align: center;
  }

}

.rightLinkSvg{
  display: flex;
  align-items: center;
  justify-content: center;

  @media(min-width: mixins.em(1200)) {
    justify-content: flex-start;
    column-gap: mixins.rem(3);
    flex: 1 1 auto;
  }
    @media (min-width: mixins.em(global.$tablet))  and (max-width: mixins.em(1200)) {
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: mixins.rem(5);
  }

  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    column-gap: mixins.rem(5);
  }
}

.linkTop{
  display: flex;
  justify-content: flex-end;
  text-align: right;
  min-width: 100%;
  color: #C21F39;
  font-weight: 500;
  fill: #e30101;
}

.linkSvg{
  width: mixins.rem(15);
  height: mixins.rem(15);
  fill: #e30101;
}


.blockCity{
  @extend .forNames;
  font-weight: 400;
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(5);

  @media (min-width: mixins.em(global.$tablet)) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: mixins.rem(5);
    flex-direction: column;
  }
}

.cityBlockOne{
  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: mixins.rem(5);
    column-gap: mixins.rem(5);
  }
}

.noInfo{
  text-align: center;
}

.cityBlockTwo{
  @media(max-width: mixins.em(global.$tablet)) {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: mixins.rem(5);
    column-gap: mixins.rem(5);
  }
}

.showTextBtn{
  color: #000000;
  font-weight: 400;
  flex: 1 1 auto;
  background-color: #c2cacc;
  border-radius: mixins.rem(5);
  padding-top: mixins.rem(3);
  padding-bottom: mixins.rem(3);

  @media (any-hover: hover) {
     &:hover {
        transition: background-color ease 0.3s 0s;
        background-color: #9a7a65;
     }
   }
}

.coverBtnShow{
  display: flex;
  flex: 1 1 auto;
  min-width: 100%;
}

.linkInsideGroup{
  display: flex;
  flex-direction: column;
}


.image{
  width: mixins.rem(35);
  height: mixins.rem(35);
  border-radius: 50%;
}


.coverPageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: mixins.rem(10);
  padding-bottom: mixins.rem(10);
  column-gap: mixins.rem(5);
}

.pageBtn{
  box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(5) mixins.rem(0) rgb(0 0 0 / 65%);
  color: #fffbfd;
  font-size: 14px;
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(5);
  background-color: globalIndex.$Theme_main_header_background_button;
  border-radius: mixins.rem(5);
  transition: background-color ease 0.3s 0s;

  &.active{
    background-color: globalIndex.$Theme_main_header_background_Button_hover;
  }
  @media(min-width: mixins.em(440)) {
    width: mixins.rem(35);
    height: mixins.rem(35);
    flex: 0 0 mixins.rem(35);
  }

  @media(max-width: mixins.em(440)) {
    width: mixins.rem(35);
    height: mixins.rem(35);
    flex: 0 0 mixins.rem(35);
  }

  @media (any-hover: hover) {
     &:hover {
        transition: background-color ease 0.3s 0s;
       background-color: globalIndex.$Theme_main_header_background_Button_hover;
     }
   }

  &.size {
    font-size: 12px;
    @media(max-width: mixins.em(440)) {
      width: mixins.rem(25);
      height: mixins.rem(25);
      flex: 0 0 mixins.rem(25);
    }
  }
}
