@use "sass:math";
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/variable/globalIndex';
@use '../../../../shared/styles/mixins';
@use "../../../../shared/styles/variable/common";

.inputChange{
  display: grid;
  grid-template-columns: minmax(40px, 40px) minmax(100px,150px) minmax(100px,300px)  minmax(100px, 300px)  minmax(50px, 70px) minmax(100px,170px) minmax(100px,170px);
  grid-template-rows:auto;
  text-align: center;
  justify-content: space-between;
  row-gap: mixins.rem(5);
  column-gap: mixins.rem(5);
  border-bottom: mixins.rem(1) solid #000;
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  font-size: mixins.rem(16);
  &.deleted {
    background-color: #e11010;
  }

  &.noInfp{
    background-color: #815a3f;
  }
}

.btn{
  @extend .btnHide;
}

.input{
  @extend .inputHide;
}