@use "sass:math";
@use './src/app/styles/variable/global';
@use './src/app/styles/variable/globalIndex';
@use "./src/app/styles/mixins";
@use './src/app/styles/variable/common.scss';

.form {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  @media(min-width: mixins.em(global.$mobile)) {
    max-width: mixins.rem(500);
  }
}

.text{
  @extend .popupSubTitle;
  text-align: left;
}

.coverBtn{
  display: flex;
  justify-content: center;
  text-align: center;
  row-gap: mixins.rem(7);
  flex-direction: column;
}


.title {
  @extend .popupTitle;
  position: relative;
  text-align: center;
}

.inputsForm {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
  position: relative;
}

.input {
  @extend .inputPopupLogin;
}

.hideButton{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.showSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}

.hideSvg {
  fill: black;
  width: mixins.rem(30);
  height: mixins.rem(30);
}


.inputRelative{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(5);
}

.btnCoverTwo {
  display: flex;
  justify-content: center;
  column-gap: mixins.rem(20);
  row-gap: mixins.rem(10);
  @media(max-width: mixins.em(global.$mobile)) {
    flex-direction: column;
  }

}

.btnLogIn{
  @extend .btnGradient;
  font-weight: 600;
  padding-left: mixins.rem(27);
  padding-right: mixins.rem(27);
  padding-bottom: mixins.rem(11);
  padding-top: mixins.rem(11);
  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize_AdaptiveStart,14,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}

.back {
  @extend .btnBack;
  font-weight: 600;
  padding-left: mixins.rem(27);
  padding-right: mixins.rem(27);
  padding-bottom: mixins.rem(11);
  padding-top: mixins.rem(11);
  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize_AdaptiveStart,14,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);

  @media(max-width: mixins.em(global.$mobile)) {
    flex: 1 1 auto;
    min-width: 100%;
  }
}



.coverPhoneAndMail{
  display: flex;
  column-gap: mixins.rem(5);
  justify-content: center;

  @media(max-width: mixins.em(global.$mobile)) {
    //flex-direction: column;
    //row-gap: mixins.rem(7);
  }
}


.choose{
  @extend .btnLogin;
  flex: 0 1 mixins.rem(180);
}

.btnEnter{
  @extend .btnLogin;
  flex: 0 1 mixins.rem(50);
}
.btnGet {
  @extend .btnLogin;
  display: inline-flex;
  max-width: mixins.rem(200);
  padding-left: mixins.rem(18);
  padding-right: mixins.rem(18);
  padding-bottom: mixins.rem(11);
  padding-top: mixins.rem(11);
}

.coverBtnTwo{
  display: flex;
  justify-content: center;
}

.emailSvg {
  max-width: mixins.rem(30);
  max-height: mixins.rem(30);
  flex: 0 0  mixins.rem(30);
  fill: #000000;
  text-align: center;
}

.phoneSvg{
  max-width: mixins.rem(30);
  max-height: mixins.rem(30);
  flex: 0 0 mixins.rem(30);
  fill: #000000;
  text-align: center;
}