@use "sass:math";
@use './src/app/styles/variable/global.scss';
@use './src/app/styles/variable/globalIndex.scss';
@use "./src/app/styles/mixins.scss";


.navBar {
    display: flex;
}

.list{
    display: flex;
    align-items: center;
    column-gap: mixins.rem(15);
    flex-wrap: wrap;
    row-gap: mixins.rem(3);

    @include mixins.adaptiveValue("column-gap",15,10,3,900,767.98);
}
