@use "sass:math";
@use './src/app/styles/variable/global.scss';
@use './src/app/styles/variable/globalIndex.scss';
@use "./src/app/styles/mixins.scss";


.navBar {
    display: flex;
}

.list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: mixins.rem(3);
}
