@use "sass:math";
@use "../../../styles/variable/common";
@use '../../../styles/mixins';
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';

.coverBtn{
  display: flex;
  min-width: 100%;
  column-gap: mixins.rem(60);
  justify-content: flex-start;
  @include mixins.adaptiveValue("column-gap",60,10,3,globalIndex.$PageHome_adaptive_Title,global.$mobile);


  @media(max-width: mixins.em(global.$mobile)) {
    flex-direction: column;
    row-gap: mixins.rem(10);
  }

}

.linkTwo{
  @extend .btnGradient;
  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize_AdaptiveStart,14,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);

  @include mixins.adaptiveValue("padding-left",27,17,3,900,770);
  @include mixins.adaptiveValue("padding-right",27,17,3,900,770);

  @include mixins.adaptiveValue("padding-left",17,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",17,12,3,420,320);
}

.buttonLogin,
.link{
  @extend .btnThree;
  @include mixins.adaptiveValue("font-size",globalIndex.$Enter_fontSize_AdaptiveStart,14,3,globalIndex.$Header_adaptive_start,globalIndex.$Header_adaptive_end);
  font-family: globalIndex.$GoSearch_fontFamily;
  font-size: globalIndex.$GoSearch_fontSize;
  line-height: globalIndex.$GoSearch_fontLine;
  font-weight: globalIndex.$GoSearch_fontWeight;
  padding-bottom: mixins.rem(11);
  padding-top: mixins.rem(11);
  padding-left: mixins.rem(27);
  padding-right: mixins.rem(27);

  @include mixins.adaptiveValue("padding-left",27,18,3,900,770);
  @include mixins.adaptiveValue("padding-right",27,18,3,900,770);

  @include mixins.adaptiveValue("padding-left",18,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",18,12,3,420,320);
  }

