@use "sass:math";
@use "./src/app/styles/variable/common";
@use './src/app/styles/mixins';
@use '/src/app/styles/variable/global';
@use '/src/app/styles/variable/globalIndex';

.coverBtn{
  display: flex;
  justify-content: center;
  min-width: 100%;
  margin-top: mixins.rem(15);
}

.buttonLogin,
.link{
  @extend .btnTwo;
  padding-top: mixins.rem(15);
  padding-bottom: mixins.rem(15);
  padding-left: mixins.rem(40);
  padding-right: mixins.rem(40);
  font-size: mixins.rem(20);
  @include mixins.adaptiveValue("font-size",20,16,3,1200,global.$mobile);

  @media(min-width: mixins.em(global.$tablet)) {

  }
  @media(max-width: mixins.em(global.$tablet)) {

  }

  }

