@use "sass:math";
@use "./src/app/styles/variable/common";
@use './src/app/styles/mixins';
@use '/src/app/styles/variable/global';
@use '/src/app/styles/variable/globalIndex';

.coverBtn{
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.buttonLogin,
.link{
  @extend .btnTwo;
  padding-top: mixins.rem(15);
  padding-bottom: mixins.rem(15);
  padding-left: mixins.rem(40);
  padding-right: mixins.rem(40);
  font-size: mixins.rem(20);
  }

