@use "sass:math";
@use "./src/app/styles/variable/common";
@use './src/app/styles/mixins';
@use '/src/app/styles/variable/global';
@use '/src/app/styles/variable/globalIndex';

.coverBtn{
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.buttonLogin,
.link{
  @extend .btnTwo;
  @extend .widthAndPaddingBtn;
  background-color: #d74b4b;
  font-size: mixins.rem(30);
  }

