@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use "../../../styles/mixins";
@use "../../../styles/variable/common";

.mainBlock {

}

.block {
  @extend .blockMain;
}

.blockInfo{
  @extend .blockInfoMain;

}

.text{
  color: #b46145;
  font-size: mixins.rem(globalIndex.$main_font_size);
  font-weight: 600;
  line-height: globalIndex.$main_font_line-height;
  @include mixins.adaptiveValue("font-size",globalIndex.$main_font_size,16,3,globalIndex.$PageHome_adaptive_start,globalIndex.$PageHome_adaptive_end)
}


.textVerify{
  display: flex;
  align-items: flex-end;
  font-size: mixins.rem(14);
  line-height: math.div(20,14);
  column-gap: mixins.rem(5);
}

.linkCover{
  @extend .linkCoverMain;
  position: relative;
}


.input{
  @extend .input;
}

.inputRelative{
  @extend .inputRelativeMain;
}


.coverBtn{
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  @extend .btnThree;
  font-family: globalIndex.$GoSearch_fontFamily;
  font-size: globalIndex.$GoSearch_fontSize;
  line-height: globalIndex.$GoSearch_fontLine;
  font-weight: globalIndex.$GoSearch_fontWeight;
  padding-bottom: mixins.rem(7);
  padding-top: mixins.rem(7);
  padding-left: mixins.rem(18);
  padding-right: mixins.rem(18);
  z-index: 30;
  @include mixins.adaptiveValue("padding-left",18,16,3,900,770);
  @include mixins.adaptiveValue("padding-right",18,16,3,900,770);

  @include mixins.adaptiveValue("padding-left",18,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",18,12,3,420,320);
}


.notVerifySvg{
  width: mixins.rem(20);
  height: mixins.rem(20);
  border-radius: 50%;
}

.verifySvg{
  width: mixins.rem(20);
  height: mixins.rem(20);
  fill: #79b93e;
  border-radius: 50%;
}