@use "sass:math";
@use './src/app/styles/variable/global';
@use './src/app/styles/variable/globalIndex';
@use "./src/app/styles/mixins";



.burgerButton {
  display: flex;
  flex: 0 0 mixins.rem(35);

  @media(max-width: mixins.em(global.$mobile)) {
    display: block;
    position: relative;
    width: mixins.rem(35);
    height: mixins.rem(22);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: mixins.rem(2);
      background-color: rgb(255 255 255);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - mixins.rem(1));
    }

    &.activeBurger {
      span {
        width: 0;
      }

      &::before,
      &::after {
          background-color: #0e0e0e;
      }

      &::before {
        top: calc(50% - mixins.rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - mixins.rem(1));
        transform: rotate(45deg);
      }
    }
  }

  .dark_theme & {
    span,
    &::before,
    &::after {
      background-color: rgb(255 255 255);
    }
  }

  .light_theme & {
    span,
    &::before,
    &::after {
      background-color: rgb(0 0 0);
    }
  }
}
