@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use '../../../styles/mixins';
@use "../../../styles/variable/common";

.LoginModal {
  display: flex;
}
.cover{
  display: flex;
  flex-direction: column;
}

.coveBtn{
  display: flex;
  flex-direction: column;
}

.iconAdd{
  fill: #fffbfd;
  fill-rule: evenodd;
  width: mixins.rem(20);
  height: mixins.rem(20);
}

.cover{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr));
  grid-template-rows: auto;
  column-gap: mixins.rem(10);
  row-gap: mixins.rem(10);
}
