@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use '../../../styles/mixins';
@use "../../../styles/variable/common";

.LoginModal {
  display: flex;
}

.listsCategory{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
  min-height: 100%;
  min-width: 100%;
  flex: 0 1 auto;
  justify-content: center;
}

.title{
  font-size: mixins.rem(14);
  font-weight: 600;
  color: #000000;
}

.coveBtn{
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  @media(min-width: mixins.em(global.$mobile)) {
    max-width: mixins.rem(320);
  }

}

.iconAdd{
  fill: #fffbfd;
  fill-rule: evenodd;
  width: mixins.rem(20);
  height: mixins.rem(20);
  flex: 0 0 mixins.rem(20);
}

.cover{
  overflow: auto;
  max-height: mixins.rem(400);
  justify-content: center;

  @media(min-width: mixins.em(global.$mobile)) {
    display:grid;
    //grid-template-columns: repeat(auto-fill,minmax(320px, 1fr));
    grid-template-columns: minmax(320px, 1fr) minmax(320px, 1fr);
    grid-template-rows: auto;
    column-gap: mixins.rem(10);
    row-gap: mixins.rem(10);
  }
  @media(max-width: mixins.em(global.$mobile)) {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(10);
    padding-top: mixins.rem(5);
    padding-bottom: mixins.rem(10);
  }
}

.content{
  @media(min-width: mixins.em(global.$mobile)) {
    flex: 0 0 mixins.rem(700);
    min-width: mixins.rem(700);
  }
  @media(max-width: mixins.em(global.$mobile)) {
    padding-left: mixins.rem(3);
    padding-right: mixins.rem(3);
  }
}

.saveBtn{
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.btns{
  @extend .btnTwo;
  padding-top: mixins.rem(10);
  padding-bottom: mixins.rem(10);
  padding-left: mixins.rem(15);
  padding-right: mixins.rem(25);
}
