@use "sass:math";
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/variable/globalIndex';
@use "../../../../shared/styles/mixins";
@use "../../../../shared/styles/variable/common";

.block {
  @extend .blockMain
}

.blockInfo{
  @extend .blockInfoMain;
}

.text{
  color: #b46145;
  font-weight: 600;
  line-height: globalIndex.$main_font_line-height;
  font-size: mixins.rem(globalIndex.$main_font_size);
  @include mixins.adaptiveValue("font-size",globalIndex.$main_font_size,16,3,globalIndex.$PageHome_adaptive_start,globalIndex.$PageHome_adaptive_end);
}

.linkCover{
  @extend .linkCoverMain;
}

.input{
  @extend .input;
}

.inputRelative{
    @extend .inputRelativeMain;
}

.coverBtn{
  display: flex;
  align-items: center;
}


.btn {
  background-color: transparent;
  @extend .btnThree;
  font-family: globalIndex.$GoSearch_fontFamily;
  font-size: globalIndex.$GoSearch_fontSize;
  line-height: globalIndex.$GoSearch_fontLine;
  font-weight: globalIndex.$GoSearch_fontWeight;
  padding-bottom: mixins.rem(7);
  padding-top: mixins.rem(7);
  padding-left: mixins.rem(18);
  padding-right: mixins.rem(18);
  @include mixins.adaptiveValue("padding-left",18,16,3,900,770);
  @include mixins.adaptiveValue("padding-right",18,16,3,900,770);

  @include mixins.adaptiveValue("padding-left",18,12,3,420,320);
  @include mixins.adaptiveValue("padding-right",18,12,3,420,320);
}