@use "sass:math";
@use './src/app/styles/variable/global.scss';
@use './src/app/styles/variable/globalIndex.scss';
@use "./src/app/styles/mixins.scss";
@use './src/app/components/shared/ui/Loader/Loader.scss';
@use './src/app/styles/variable/common.scss';

.cityBlock{
  display: flex;
  column-gap: mixins.rem(20);
  row-gap: mixins.rem(20);
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  min-width: 100%;
  @media(max-width: mixins.em(global.$tablet)) {

  }
}

.title{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: mixins.rem(globalIndex.$main_font_size);
  flex: 1 1 auto;
  white-space: nowrap;
}

.header{
  display: flex;
  justify-content: flex-start;
  position: relative;
  row-gap: mixins.rem(5);
  font-weight: 600;
  column-gap: mixins.rem(5);
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 auto;
  display: flex;
  @media(max-width: mixins.em(global.$tablet)) {
    min-width: 100%;
  }
}

.first{
  display: flex;
  column-gap: mixins.rem(15);

  @media(max-width: mixins.em(global.$tablet)) {
    row-gap: mixins.rem(10);

  }

}


.coverInput{
  display: flex;
  border: none;
  border-radius: mixins.rem(5);
  column-gap: mixins.rem(2);

  @media(min-width: mixins.em(global.$tablet)) {
    flex: 1 1  mixins.rem(350);
  }
  @media(max-width: mixins.em(global.$tablet)) {
    //flex: 1 1 auto;
  }
}

.inputZone{

  position: relative;
  align-items: center;

  @media(min-width: mixins.em(global.$tablet)) {
    flex: 0 1 mixins.rem(250);
  }

  @media(max-width: mixins.em(global.$tablet)) {
    flex: 1 1 auto;
  }
}


.inputDiv{
  display: flex;
  flex: 1 1 auto;
  max-height: mixins.rem(30);
}

.input{
  display: flex;
  flex: 0 1 auto;
  min-height: 100%;
  min-width: 100%;
  border-radius: mixins.rem(5);
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(40);
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  //outline: 1px solid rgb(0 0 0 / 30%);
  transition: outline ease 0.3s 0s;
  font-size: mixins.rem(14);

  &::placeholder {
    color: #616161;
    font-weight: 400;
  }

  &:focus {
    //outline: 2px solid #000;
    //transition: outline ease 0.3s 0s;
  }

  @media(max-width: mixins.em(global.$tablet)) {
    max-width: 250px;
  }

}


.deleteText{
  position: absolute;
  top: 50%;
  right: mixins.rem(5);
  transform: translateY(-50%);
}

.delete{
  top: 50%;
  right: mixins.rem(10);
  transform: translateY(-50%);
  position: absolute;
  width: mixins.rem(25);
  height: mixins.rem(25);
  stroke-width: mixins.rem(3);
  stroke:#000;
  stroke-linecap:round;
  transition: stroke-widthease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      transition: stroke-widthease ease .3s 0s;

    }
  }
}


.coverAddBtn {
  display: flex;
  min-width: mixins.rem(15);
  min-height: mixins.rem(30);
  flex: 0 0 mixins.rem(40);
  max-height: 20px;
  justify-content: center;
  align-items: center;
}


.addBtn{
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  min-width: 100%;
  min-height: mixins.rem(30);
  background-color: globalIndex.$Theme_main_header_background_button;
  transition: background-color ease 0.3s 0s;
  border-radius: mixins.rem(10);
  color: white;
  font-weight: 600;

  @media (any-hover: hover) {
    &:hover {
      transition: background-color ease 0.3s 0s;
      background-color: globalIndex.$Theme_main_header_background_Button_hover
    }
  }
}


.areaKey{
  color: #000000;
  border: mixins.rem(1) solid #0e0e0e;
  border-radius: mixins.rem(10);
  font-weight: 400;
  letter-spacing: mixins.em(0.5);
  font-size: mixins.rem(14);
  display: inline-flex;
  align-items: center;
  font-family: globalIndex.$Title_font_family;
  line-height: globalIndex.$Search_font_line-height;
  @include mixins.adaptiveValue("font-size",16,14,3,globalIndex.$PageHome_adaptive_start,global.$mobile);

  @media(min-width: mixins.em(global.$tablet)) {
    padding-top: mixins.rem(5);
    padding-bottom: mixins.rem(5);
    padding-right: mixins.rem(10);
    padding-left: mixins.rem(10);
    column-gap: mixins.rem(5);
  }
  @media(max-width: mixins.em(global.$tablet)) {
    padding-top: mixins.rem(3);
    padding-bottom: mixins.rem(3);
    padding-right: mixins.rem(5);
    padding-left: mixins.rem(5);
    column-gap: mixins.rem(5);
  }

}

.deleteKey{
  display: flex;
  color: #000000;
  align-items: center;
}

.keyWords{
  display: inline-flex;
  color: #000000;
  border: mixins.rem(1) solid #0e0e0e;
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  padding-right: mixins.rem(10);
  padding-left: mixins.rem(10);
  border-radius: mixins.rem(10);
  font-family: globalIndex.$Title_font_family;
  line-height: globalIndex.$Search_font_line-height;
  font-weight: globalIndex.$Search_font_weight;
  @include mixins.adaptiveValue("font-size",14,12,3,globalIndex.$PageHome_adaptive_start,globalIndex.$PageHome_adaptive_end);
}

.coverKeyWords{
  font-size: mixins.rem(14);
}


.deleteWords {
  width: mixins.rem(20);
  height: mixins.rem(20);
  stroke-width: mixins.rem(3);
  stroke: #000000;
  stroke-linecap:round;
  transition: stroke-widthease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      transition: stroke-widthease ease .3s 0s;

    }
  }
}
