@use "sass:math";
@use './../../shared/styles/variable/global';
@use './../../shared/styles/variable/globalIndex';
@use "./../../shared/styles/mixins";


.navBar {
    display: flex;
}

.list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: mixins.rem(3);
}
