@use "sass:math";
@use '../../../styles/variable/global';
@use '../../../styles/variable/globalIndex';
@use '../../../styles/mixins';
@use "../../../styles/variable/common";

.section{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  flex: 1 1 auto;
  border-bottom: mixins.rem(2) solid rgb(0 0 0 / 65%);
  padding-bottom: mixins.rem(20);
}

.mainTitle{
  text-align: left;
  font-size: mixins.rem(globalIndex.$Title_font_size);
  line-height: globalIndex.$Title_font_line-height;
  font-weight: globalIndex.$Title_font_weight;
  color: globalIndex.$Title_color;
  border-bottom: mixins.rem(2) solid rgb(0 0 0 / 65%);
  background-color: #e5d5c3;
  padding-bottom: mixins.rem(20);
  padding-top: mixins.rem(20);
  padding-left: mixins.rem(20);
  align-items: center;
  justify-content: flex-start;
}

.titles{
  display: grid;
  grid-template-columns: minmax(40px, 40px) minmax(50px,50px) minmax(200px,270px)  minmax(250px,300px)  minmax(100px,300px)  minmax(100px,300px) minmax(100px,150px) minmax(100px,15px);
  grid-template-rows:auto;
  text-align: center;
}

.form{
  display: flex;
  column-gap: mixins.rem(10);
  flex-direction: column;
  row-gap: mixins.rem(15);
}

.coverInput{
  display: flex;
  align-items: center;
  column-gap: mixins.rem(10);
}

.label{
  display: flex;
  font-size: mixins.rem(globalIndex.$main_font_size);
}

.coverBtn{
  display: flex;
  column-gap: mixins.rem(15)
}

.inputRelative{
  min-width: mixins.rem(500);
  row-gap: mixins.rem(5);
  flex: 0 1 mixins.rem(500);
  position: relative;
  display: flex;
  column-gap: mixins.rem(30);
}

.coverInputTwo{
  display: flex;
  align-items: center;
  column-gap: mixins.rem(10);
}

.input{
  @extend .input;
}


.btn{
  @extend .btn;

  padding-left: mixins.rem(25);
  padding-right: mixins.rem(25);
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);

  @include mixins.adaptiveValue("font-size",globalIndex.$Link_font_size_adaptive,16,3,1250,1050);
}

.btnSave{
  max-height: mixins.rem(20);
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  padding-right: mixins.rem(10);
  padding-left: mixins.rem(10);
}

.mainBlock{
  max-height: mixins.rem(500);
  overflow: auto;
  border: mixins.rem(1) solid #000;
}

.head{
  background-color: #ad9d6d;
  text-align: center;
}

.list{
  display: flex;
}


.mainCover{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
}

.listTwo{
}