@use "sass:math";
@use '../../styles/variable/global';
@use '../../styles/variable/globalIndex';
@use "../../styles/mixins";
@use "../../styles/variable/common";

.feedback {
  @extend .paddingPages;
}

.cover{
  display: flex;
  flex-direction: column;
}

.section{
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(15);
  flex: 1 1 auto;
}

.mainTitle{
  @extend .forMainTitle;
}
